{# templates/public/template.html.twig #}

{% extends 'base.html.twig' %}

{#HEAD#}
    {% block title %} {{ title }} {% endblock %}
    {% block meta_description %}Le truc qui apparait dans les recherches google{% endblock %}
    {% block stylesheets %}{% endblock %}

{#FIN DE HEAD#}

{#HEADER#}
    {% block h1 %} {{ membre.nomMembre }} {% endblock %}
    {% block introduction %} {{ membre.emailMembre }} {% endblock %}
    {% block option_introduction %}{% endblock %}
{#FIN DE HEADER#}

{#MAIN#}
{% block main %}
    <div class="row">
		<div class="col-sm-12 text-center">
		
		    
			<a href="profil" class="btn btn-warning">Profil</a>
			<a href="reservations" class="btn btn-primary">Mes Reservations</a>
            <a href="reservations" class="btn btn-default">Mes Salles</a>
            <a href="reservations" class="btn btn-danger">Messagerie</a>
            
            {% if membre.idStatutMembre == 3 %}
			<a href="reservations" class="btn btn-danger">Passer</a>
			{% else %}
			<i class="fas fa-check fa-2x text-success"></i>
			{% endif %}
            
            
            
            
			<hr>
		</div>
    </div>
{% endblock %}
{#FIN DE MAIN#}

{#SCRIPT#}
    {% block javascripts %}{% endblock %}
{#FIN DE SCRIPT#}