.headerAide {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: white;
  background: url("../img/wallpaperaide.jpg") no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.headerAide .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.headerAide .intro-body .brand-heading {
  font-size: 50px;
}

.headerAide .intro-body .intro-text {
  font-size: 18px;
}

@media (min-width: 768px) {
  .headerAide {
    height: 100%;
    padding: 0;
  }
  .headerAide .intro-body .brand-heading {
    font-size: 100px;
  }
  .headerAide .intro-body .intro-text {
    font-size: 22px;
  }
}

body{
    background: white;
}


h1 {
    font-size: 3.6em;
    text-align: center;
    color:#81f36c;
}

h2 {
    font-size: 7em;
    text-align: center;
    color:#81f36c;
}

h3 {
    font-size: 2.0em;
    text-align: left;
    color:#717171;
}

h4 {
    font-size: 2.0em;
    text-align: left;
    color:#717171;
}

h5 {
    font-size: 2.0em;
    text-align: left;
    color:#717171;
}

h6 {
    font-size: 2.0em;
    text-align: left;
    color:#717171;
}


/* DEBUT BUTTON SCROLL DOWN */

.button-scroll {
    position: absolute;
    bottom: 0px;
    height: 60px;
    width: 60px;
    border: 2px solid #43B874;
    background-color: rgba( 0, 0, 0, 0.5);
    font-size: 40px;
    text-align: center;
}

/* FIN BUTTON SCROLL DOWN */


/* DEBUT NAVBAR */

#mainNav {
    background-color: #43B874;
}

/* FIN NAVBAR */

div {
  margin-left: auto;
  margin-right: auto;
  width: ...;
  color: #43b874;   
}


.headerAide {
 background: linear-gradient(
 rgba(217, 216, 216, 0.3), 
 rgba(216, 216, 216, 0.32)
 ),url("../img/wallpaperaide.jpg");
 background-size:cover;
 background-repeat:no-repeat;
}



button:active {
    background-color: red;
    outline: none; /* Pour enlever la bordure bleu */
}
.btn-primary:hover {
    color: #fff;
    background-color: #227179;
    border-color: #ffffff;
}
.btn-primary {
    color: #717171;
    background-color: #dddddd;
    border-color: #227179;
    width: 1300px;
    height: 80px;  
    display: block;
    margin : auto;

} 

/* FIN BUTTON SCROLL BAS DE PAGE */
.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}