/* GLOBAL */

h1 {
    font-size: 4em;
    font-family: Roboto;
}

/*HEADER */
#headerDetailSalle {
    display: table;
    width: 100%;
    max-height: 400px;
    padding: 100px 0;
    text-align: left;
    color: white;
    border-bottom: 8px solid #43B874;
}

#headerSalle .intro-body {
    display: table-cell;
    vertical-align: middle;
}

#headerSalle .intro-body .brand-heading {
    font-size: 2em;
}

#headerSalle .intro-body .intro-text {
    font-size: 1em;
}

@media (min-width: 768px) {
    #headerSalle {
        height: 100%;
        padding: 0;
    }
    #headerSalle .intro-body .brand-heading {
        font-size: 3em;
    }
    #headerSalle .intro-body .intro-text {
        font-size: 1.5em;
    }
}


.barre-blanche{
    background-color: white;
    height: 2px;
    width: 100%;
}

.intro {
    margin-top: 50px;
}


/* NAVBAR */

#mainNav {
    background-color: #43B874;
}

/* MAIN */

   
.margin{
    margin-top: 2em;
    margin-bottom: 2em;

}


