.headerIndex {
    display: table;
    width: 100%;
    height: auto;
    padding: 200px 0;
    text-align: center;
    color: white;
    background: url("../img/intro-bg.jpg") no-repeat bottom center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.headerIndex .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.headerIndex .intro-body .brand-heading {
    font-size: 50px;
}

.headerIndex .intro-body .intro-text {
    font-size: 18px;
}

@media (min-width: 768px) {
    .headerIndex {
        height: 100%;
        padding: 0;
    }
    .headerIndex .intro-body .brand-heading {
        font-size: 100px;
    }
    .headerIndex .intro-body .intro-text {
        font-size: 22px;
    }
}

h1 {
    font-size: 100px;
}

.intro {
    margin-top: 100px;
}

.intro-body {
    position: relative;
    margin: 0 auto;
}

.landing-container {
    padding: 50px;
}
.landing-container .search-box {
    height: 80px;
    padding: 10px;
}

.intro-body {
    position: relative;
    border-bottom: 8px solid #43B874;
}

/* DEBUT BUTTON SCROLL DOWN */

.button-scroll {
    position: absolute;
    bottom: 0px;
    height: 60px;
    width: 60px;
    border: 2px solid #43B874;
    background-color: rgba( 0, 0, 0, 0.5);
    font-size: 40px;
    text-align: center;
}

/* FIN BUTTON SCROLL DOWN */


/* DEBUT NAVBAR */

#mainNav {
    background-color: #43B874;
}

/* FIN NAVBAR */

/* BLOCK "Nos dernières offres" */

.product-container {
    border-bottom: 8px solid #43B874;
    position: relative;
    padding: 0px;
}

.border-titre-offres {
    border-left: 10px solid #43B874;
    height: 100px;
    position: relative;
    margin-bottom: 30px;
}

.titre-offres {
    margin-top: 0px!important;
    position: absolute;
    bottom: 0px;
    margin-bottom: 0px!important;
}

.content-section {
    padding-top: 0px;
    padding-bottom: 100px;
}

h2 {
    color: black;
}

/* FIN BLOCK "Nos dernières offres" */

/* DEBUT BLOCK PRESENTATION */

.block-product {
    position: relative;
}

#presentation {
    background-image: url('../img/block-presentation.jpg') ;
    height: 100vh;
    position: relative;
}

.container-product {
    display: flex;
    z-index: 0;
}

.left-column {
    background-color: rgba(67, 184, 116, 0.5);
    width: 50vw;
    height: 100vh;

}

.right-column {
    background-color: rgba( 0, 0, 0, 0.5);
    width: 50vw;
    height: 100vh;
}

.text-presentation {
    margin-top: 50vh;
}

.container-fluid p {
    margin-top: 20vh;
    font-size: 20px;
    position: absolute;
    width: 100vw;
    z-index: 1;
}








/* FIN BLOCK PRESENTATION */