{# templates/public/index.html.twig #}

{% extends 'base.html.twig' %}

{#HEAD#}
    {% block title %} {{ title }} {% endblock %}
    {% block meta_description %}Le truc qui apparait dans les recherches google{% endblock %}
    {% block stylesheets %}
        <!--CSS SEARCHBAR-->
        <link href="{{ asset('css/searchbar.css') }}" rel="stylesheet">

        <link href="{{ asset('css/index.css') }}" rel="stylesheet">
    {% endblock %}
{#FIN DE HEAD#}

{% block header %}
    <header class="headerIndex">
        <div id="intro" class="intro-body">
            <div class="container intro">
                <div class="row">
                    <div class="col-lg-8 mx-auto">

                        <h1 class="brand-heading"></h1>
                        {#HEADER#}
                        <h1> Easy<span class="vert_logo console">Office</span></h1>
                        <p> Location de salle en ligne </p>
                        {#FIN DE HEADER#}
                        <p class="intro-text"></p>
                    </div>
                </div>
            </div>

            {# BOUTTON SCROLL#}
            <div class="button-scroll">
                <a href="#product" class="js-scroll-trigger">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>

            {# BEGIN SEARCHBAR #}
            {% block searchbar %}
                <div class="row">
                    <div class="index">
                        <div class="container searchbox">
                            <div class="input-group">
                                <div class="selector">
                                    <input type="text" placeholder="Où?" aria-label="ou" aria-describedby="basic-addon2">
                                    <div class="picto">
                                        <i class="fas fa-map-marker fa-3x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="selector">
                                    <input type="text" placeholder="Quand?" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <div class="picto">
                                        <i class="far fa-calendar-alt fa-3x"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group">
                                <div class="selector">
                                    <input class="typesalle"  type="text" placeholder="Type de salle" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <div class="picto">
                                        <i class="fab fa-typo3"></i>
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="valid btn btn-outline-success">rechercher</button>
                        </div>
                    </div>
                </div>
            {% endblock %}
            {# END SEARCHBAR #}
        </div>
    </header>
{% endblock %}

    {# MAIN #}
    {% block main %}

        <!-- Product Section -->
        <div class="container-fluid block-product">
            <section id="product" class="content-section text-center">
                <div class="container">

                    <div class="border-titre-offres">
                        <h2 class="titre-offres my-4">Nos dernières offres</h2>
                    </div>

                    <div class="row text-center text-lg-left">

                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <a href="#" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <a href="#" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <a href="#" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <a href="#" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <a href="#" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <a href="#" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <a href="#" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <a href="#" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <a href="#" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <a href="#" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <a href="#" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-6">
                            <a href="#" class="d-block mb-4 h-100">
                                <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            {# BOUTTON SCROLL#}
            <div class="button-scroll">
                <a href="#presentation" class="js-scroll-trigger">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>

        <!-- Presentation Section -->
        <section id="presentation" class="download-section content-section text-center">
            <div class="container-fluid">

                <p class="font-italic">Je suis un <span class="type">particulier</span> et je souhaite...</p>

                <div class="row container-product">
                    <!-- SECTION : PRESENTATION Colonne de gauche -->
                    <div class="col-md-6 left-column">
                        <div class="text-presentation">
                            <h3>LOUER UNE SALLE</h3>
                        </div>
                    </div>
                    <!-- SECTION : PRESENTATION Colonne de droite -->
                    <div class="col-md-6 right-column">
                        <div class="text-presentation">
                            <h3>METTRE EN LOCATION UNE SALLE</h3>
                        </div>
                    </div>

                </div>
            </div>
            {# BOUTTON SCROLL#}
            <div class="button-scroll">
                <a href="#intro" class="js-scroll-trigger">
                    <i class="fa fa-angle-double-up animated"></i>
                </a>
            </div>
        </section>

    {% endblock %}
    {# FIN DE MAIN #}

    {# SCRIPT PERSO #}
    {% block javascripts %}

    {% endblock %}
    {#FIN DE SCRIPT#}
