{# si dte existe #}
   {% if dte %}

       <!-- Footer -->
       <section id="footer">
           <div class="container">
               <div class="row text-center text-xs-center text-sm-left text-md-left">
                   <div class="col-xs-12 col-sm-4 col-md-4">
                       <h5>Index</h5>
                       <ul class="list-unstyled quick-links">
                           <li><a href="http://localhost/EasyOffice/public/concept"><i class="fa fa-angle-double-right"></i>Concept</a></li>
                           <li><a href="http://localhost/EasyOffice/public/salle"><i class="fa fa-angle-double-right"></i>Réserver une salle</a></li>
                           <li><a href="http://localhost/EasyOffice/public/aide"><i class="fa fa-angle-double-right"></i>Aide</a></li>
                           <li><a href="http://localhost/EasyOffice/public/contact"><i class="fa fa-angle-double-right"></i>Contact</a></li>
                           <li><a href="http://localhost/EasyOffice/public/inscription"><i class="fa fa-angle-double-right"></i>Inscription</a></li>
                           <li><a href="http://localhost/EasyOffice/public/connexion"><i class="fa fa-angle-double-right"></i>Connexion</a></li>
                       </ul>
                   </div>
                   <div class="col-xs-12 col-sm-4 col-md-4">
                       <h5>Easy Office</h5>
                       <ul class="list-unstyled quick-links">
                           <li><a href="http://localhost/EasyOffice/public/mentionsLegales"><i class="fa fa-angle-double-right"></i>Mentions Legales</a></li>
                           <li><a href="https://www.google.fr/maps/place/43%C2%B040'42.7%22N+3%C2%B052'21.8%22E/@43.678522,3.8716307,18z/data=!3m1!4b1!4m6!3m5!1s0x0:0x0!7e2!8m2!3d43.6785223!4d3.8727249" target="_blank"><i class="fa fa-angle-double-right"></i>Nos locaux</a></li>
                           <li><a href="http://localhost/EasyOffice/public/contact"><i class="fa fa-angle-double-right"></i>Nous contacter</a></li>
                       </ul>
                   </div>
                   <div class="col-xs-12 col-sm-4 col-md-4">
                       <h5>Villes les plus actives</h5>
                       <ul class="list-unstyled quick-links">
                           <li><a href="#"><i class="fa fa-angle-double-right"></i>Montpellier</a></li>
                           <li><a href="#"><i class="fa fa-angle-double-right"></i>Paris</a></li>
                           <li><a href="#"><i class="fa fa-angle-double-right"></i>Marseille</a></li>
                           <li><a href="#"><i class="fa fa-angle-double-right"></i>Sophia Antipolis</a></li>
                           <li><a href="#"><i class="fa fa-angle-double-right"></i>Nice</a></li>
                       </ul>
                   </div>
               </div>
               <div class="row">
                   <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                       <ul class="list-unstyled list-inline social text-center">
                           <li class="list-inline-item"><a href="https://www.facebook.com/easyoffice" title="Facebook" target="_blank"><i class="fab fa-facebook"></i></a></li>
                           <li class="list-inline-item"><a href="https://twitter.com/easyoffice" title="Twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
                           <li class="list-inline-item"><a href="https://www.instagram.com/easyoffice" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
                           <li class="list-inline-item"><a href="https://plus.google.com/easyoffice" title="Google +" target="_blank"><i class="fab fa-google-plus"></i></a></li>
                           <li class="list-inline-item"><a href="mailto:contact@easyoffice.fr" title="Nous envoyer un email :)" target="_blank"><i class="fa fa-envelope"></i></a></li>
                       </ul>
                   </div>
                   </hr>
               </div>
               <div class="row">
                   <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                       <p><a href="{{ url('mentionsLegales')}}">Mentions légales</a> | <small>Nous sommes le {{ dte }}</small> | Code with <span style="color: #ff4571;">♥</span> | Copyright &copy;
                           <a href="https://www.linkedin.com/in/sophia-kensasse-009432167/" target="_blank" title="Linkedin || Kensasse Sophia">Sophia</a>,
                           <a href="https://www.linkedin.com/in/lisa-capelle-599940100/" target="_blank" title="Linkedin || Capelle Lisa">Lisa</a> ,
                           <a href="mailto:contact@easyoffice.fr" target="_blank" title="Email || Leplus Denys">Denys</a> ,
                           <a href="https://www.linkedin.com/in/maxence-minebois/" target="_blank" title="Linkedin || Minebois Maxence">Maxence</a>
                       </p>
                   </div>
                   </hr>
               </div>
           </div>
       </section>
       <!-- ./Footer -->

   {% endif %}